<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unagiSettings" type="System.Configuration.NameValueSectionHandler" />
    <section name="smtpSettings" type="System.Configuration.NameValueSectionHandler" />
  </configSections>

  <unagiSettings>
    <add key="isoLanguageName" value="en_US" />
    <add key="useSMTP" value="false" />           <!-- false; use outlook mapi to send, yes means use a direct smtp connection to send. -->
    <add key="moveReportedToTrash" value="true" />
    <add key="reportTo" value="noreply@localhost" />
  </unagiSettings>

  <smtpSettings>
    <add key="smtpServer" value="localhost" />
    <add key="reportFrom" value="noreply@localhost" />
    <add key="username" value="" />
    <add key="password" value="" /> <!-- this is plain text; only use when you really have to, and make sure no one can read the file but Unagi -->
  </smtpSettings>
</configuration>